<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ClientRegistration</servlet-name>
  	<display-name>ClientRegistration</display-name>
  	<servlet-class>app.ClientRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClientRegistration</servlet-name>
  	<url-pattern>/ClientRegistration</url-pattern>
  </servlet-mapping>

	<servlet>
		<servlet-name>CheckLogin</servlet-name>
		<display-name>CheckLogin</display-name>
		<servlet-class>app.CheckLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckLogin</servlet-name>
		<url-pattern>/CheckLogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ClientProfile</servlet-name>
		<display-name>ClientProfile</display-name>
		<servlet-class>app.ClientProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientProfile</servlet-name>
		<url-pattern>/ClientProfile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JobOffersDetail</servlet-name>
		<display-name>JobOffersDetail</display-name>
		<servlet-class>app.JobOffersDetail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobOffersDetail</servlet-name>
		<url-pattern>/JobOffersDetail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TerminateJob</servlet-name>
		<display-name>TerminateJob</display-name>
		<servlet-class>app.TerminateJob</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TerminateJob</servlet-name>
		<url-pattern>/TerminateJob</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FileNotice</servlet-name>
		<display-name>FileNotice</display-name>
		<servlet-class>app.FileNotice</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileNotice</servlet-name>
		<url-pattern>/FileNotice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>caregiverProfile</servlet-name>
		<display-name>caregiverProfile</display-name>
		<servlet-class>app.caregiverProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>caregiverProfile</servlet-name>
		<url-pattern>/caregiverProfile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NoticeList</servlet-name>
		<display-name>NoticeList</display-name>
		<servlet-class>app.NoticeList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeList</servlet-name>
		<url-pattern>/NoticeList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>clientHome</servlet-name>
		<display-name>clientHome</display-name>
		<servlet-class>app.clientHome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>clientHome</servlet-name>
		<url-pattern>/clientHome</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>displayCaregivers</servlet-name>
		<display-name>displayCaregivers</display-name>
		<servlet-class>app.displayCaregivers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>displayCaregivers</servlet-name>
		<url-pattern>/displayCaregivers</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<servlet-class>app.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SendOffer</servlet-name>
		<display-name>SendOffer</display-name>
		<servlet-class>app.SendOffer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendOffer</servlet-name>
		<url-pattern>/SendOffer</url-pattern>
	</servlet-mapping>


</web-app>
